@import '../../../common/styles/index';

:host {
  width: 95%;
  height: 150px;
  background-color: $color-white;
}

.new-post {
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__header-title {
    margin-left: 10px;
    color: $color-title;
  }

  &__body {
    padding-top: 5px;
  }

  &__body-textarea {
    background-color: $color-back;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    min-height: 50px;
    resize: none;
    font-size: 1em;

    &::placeholder {
      font-size: 13px;
    }
  }

  &__footer {
    padding: 5px 0;
  }

  &__footer-create {
    background-color: $color-button;
    font-size: 0.9em;
    height: 30px;
    color: $color-white;
    border: none;
    border-radius: 3px;
    padding: 0 30px;
  }
}
